body {
  background-color: powderblue;
  font-family: "Arial";
  color: black;
  text-align: center;
}
img {
  border-radius: 10px;
  border-style: solid;
  border-color: silver;
}
nav ul {
  background-color: white;
  text-align: left;
  border-style: solid;
  border-color: silver;
  border-radius: 10px;
  padding: 10px;
}
nav ul li {
  list-style-type: none;
  display: inline;
  color: grey;
  margin-right: 10px;
  margin-left: 10px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
#frontPage {
  background: linear-gradient(#b0e0e6, #87ceeb);
}
