body {
  background-color: powderblue;
  font-family: "Arial";
  color: black;
  text-align: center;
}
nav ul {
  background-color: white;
  text-align: left;
  border-style: solid;
  border-color: silver;
  list-style-type: none;
  border-radius: 10px;
  padding: 10px;
}
nav ul li {
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}
