body {
  background-color: powderblue;
  font-family: "Arial";
  color: black;
  text-align: center;
}
nav ul {
  background-color: white;
}
nav ul li {
  list-style-type: none;
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}
